.root{
  --cor-principal:#ffffff;
  --cor-verde-escuro:#146C6C;
  --cor-verde-claro:#2CACAC;
  --cor-amarelo:#FCCC54;
  --cor-azul:#007bff;
  --teal:#20c997;
  --fonte-principal:font-family: 'Lato', sans-serif;

}

*{
padding: 0%; 
margin: 0%; 
}
.container-cabecalho{
  text-align: center;

}
.container--corpo{
  width: 100%;
 
}
.container--nav{
  background-color: #ffffff;
  text-align: center;
  padding: 2%;
}

.nav-link{
  margin: 9%;
  color:rgb(0, 0, 0);
  text-decoration: none;
  font-family:var(--fonte-principal);
  font-weight:500;
  font-size: 1.3rem;
  opacity: 1;
  transition: all 0.3S ease;

}
.nav-link:hover{
  color: #146C6C;
  font-weight: 500;

}
.container--sliders {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh !important;
}
.slider {
  position: relative;
  text-align: start;
  width: 100%;
  height: 500px;
}

.slider img{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 800ms;
}
.slider img.selected{
  opacity: 1;
}
.container--img-link{
  justify-content: center;
  text-align: center !important;
  margin: 10% 0% 10% 0%;
  align-items: center;
  width: 100%;
  height: 50%;
}
.img--link{
  text-align: center;
}

#img--{
  width: 40%;
  border-radius: 2%;
  transition: all 0.5s ease;
}
#img--:hover{
  opacity: 70%;
}
.texto--link{
  color: #2CACAC;
  font-size: 2rem;
  padding-bottom: 3%;
  font-family:var(--fonte-principal);
}

.container--blog{
  background-image: url('https://acqio.com.br/wp-content/themes/acqio_theme/imgs/yellow-texture.jpg');
  border-image-repeat: unset;
  background-size: 100%;
  height: 40em;
  background-repeat:repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.container--blog--texto{
  text-align: center;
  font-family: var(--fonte-principal);
}
.h1--blog{
  text-decoration: none;
  text-align: center;
  font-size: 4rem;
  color:#ffffff;
  font-family:var(--fonte-principal);
  font-weight: 600;
  transition: all 0.4s ease;
}
.h1--blog:hover{
opacity: 80%;

}
.p1--blog{
  text-align: center;
  font-size: 1.5rem;
  color:#ffffff;
  font-family:var(--fonte-principal);
  margin-bottom: 2%;
}
.container--card{
  display: flex;
  padding-left: 5%;
}
.card--img--1{
  background-color: #eceaea;
  max-width: 40%;
  height: 25em;
  max-height: 100%;
  font-family:var(--fonte-principal);
  border-radius: 4%;
  
}
.card--img--2{
  background-color: #eceaea;
  width: 70%;
  height: 25em;
  border-radius: 4%;
  font-family:var(--fonte-principal);
  
}
.btn1 {
color: #146C6C;
}
.btn:hover {
  opacity: 70%;
  transition: all 0.5s ease;
}
#img-blog{
  transition: all 0.5s ease;
}
#img-blog:hover{
opacity: 70%;
}

.card-text{
margin: 5%;
font-size: 0.9rem;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 400;
}
.card--titulo{
margin-top: 0%;
}
.contianer--rodape{
  width: 100%;
  background-color: #2CACAC;
  background-size: 100%;
  height: 50%;
}
.contianer--lista--link{
  width: 100%;
  background-color:#ffffff;
  height:4rem;
}
.lista{
  padding-top: 1%;
}
.lista--link{ 
  text-align: center;
  text-decoration: none;
  margin: 6.5%;
  color: black;
  font-family:var(--fonte-principal);
  font-weight:300;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.lista--link:hover{
  color: #146C6C;
  font-weight: 500;
}

.redes{
  padding-top: 5%;
  text-align:end;
  margin-right: 10%;
  font-family:var(--fonte-principal);
}
.h3--redes{
  color: #FCCC54;
  font-size: 1.5rem;
  text-align:end;
  margin-right: 2%;
}
#img--redes{
  margin: 0.5%;
  width: 2.1rem;
}
#img--logo--rodape{
width:7%;
}
.rodape--texto{
  margin-left: 15%;
  font-size: 1rem;
  width: 40%;
  height: 40%;
  color: #eceaea;
  font-weight: 300;
  margin-bottom: 2%;
  font-family:var(--fonte-principal);
}
.rodape--texto--2{
  font-size: 1rem;
  width: 40%;
  height: 40%;
  margin-left: 15%;
  padding-bottom: 10%;
  color: #eceaea;
  font-weight: 300;
  font-family:var(--fonte-principal);
}
.ultimo--texto{
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #eceaea;
  padding-bottom: 7%;
  font-family: 'Lato', sans-serif;
}

  
@media(max-width:1024px){
  
  .nav-link{
  font-size: 0.6rem;
  margin: 5%;
  }
  .container--sliders {
  width: 100%;
  max-height: 25vh;
  
  }
  .slider{
    width:100%;
   height: 100%;
   
  }

  .container--img-link{
    text-align: center;
    
  }
  #img--{
    width: 60%;
  }
  .texto--link{
    font-size: 1rem;
  }
  .container--blog{
    background-image: url('https://acqio.com.br/wp-content/themes/acqio_theme/imgs/yellow-texture.jpg');
    background-size: 100%;
    height: 65rem;
    background-repeat:repeat;
  }
  .container--blog--texto{
    text-align: center;
  }
  .h1--blog{
    text-align: center;
    font-size: 1.5rem;
    color:#ffffff;
  }
  .p1--blog{
    text-align: center;
    font-size: 1rem;
    color:#ffffff;
  }
  .container--card{
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .card--img--1{
    text-align: center;
    background-color: #eceaea;
    max-width: 75%;
    height: 18em;
    max-height: 100%;
    border-radius: 4%;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  #img-blog{
   border-top-left-radius: 4%;
   border-top-right-radius: 4%;
   
  }
  .card--img--2{
    text-align: center;
    background-color: #eceaea;
    width:75%;
    height: 18em;
    border-radius: 4%;
    margin-top: 4%;
  }
  .card-title{
    font-size: 0.8rem;
  }
  .card-text{
  margin: 5%;
  font-size: 0.6rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  }

  .contianer--lista--link{
    height: 2.5rem;
  }
  .lista--link{
    font-size: 0.5rem;
    margin: 3%;
    padding-left: 1%;
  }
  .h3--redes{
    font-size: 0.8rem;
  }
  #img--redes{
    width: 1.5rem;
  }
  #img--logo--rodape{
    width:20%;
  }
  .rodape--texto{
    font-size: 0.6rem;
  }
  .rodape--texto--2{
    font-size: 0.6rem;
  }
.ultimo--texto{
  font-size: 0.9rem;
}
}
